{{#each movies}}
<div class="panel panel-default col-md-4">
	<div class="panel-heading">
	  <p>{{title}} {{year}}</p>
	</div>

	{{!-- leaving ferris poster as placeholder --}}
    <img src="https://images-na.ssl-images-amazon.com/images/I/51t9J3F9ImL._SX200_QL80_.jpg" alt="Ferris Bueller's Day Off poster" class="img-responsive center-block">
  	<div class="panel-footer">
		  <!-- We'll need to find a way to have the star repeated. Possibly with Handlebars or JS? -->
		  <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Crystal_keditbookmarks.png" alt="star rating" class="pull-left">
		  <button class="pull-right">To Be Watched</button>
		</div>
</div>


{{/each}}